.banner{

   padding-bottom: 50px;
   margin-bottom: 20px;
   height:550px;
   text-align:center;
   color:#8f8f8;
   background:url(book.jpg) no-repeat center;
   background-size:cover;
}
#banner_content{
	 position:relative;
	 margin-top:12%;
	 margin-left:27%;
    padding-top:6%;
    padding-bottom:6%;
    overflow:hidden;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.5);
    max-width:520px;

}
.dropbtn {
		float:left;
    background-color: black;
    color: white;
    padding-top: 7px;
    padding-bottom:7px;
    padding-left:70px;
      padding-right:70px;
    font-size: 16px;
    border: none;
    margin-left:0px;
    cursor: pointer;
}

.dropdown {
	float:left;
    position: relative;
    display: inline-block;
}

.dropdown-content {
		float:left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


footer{
	padding:10px 0;
	background-color: #101010;
	color:#9d9d9d;
	bottom:0;
	width:100%;
}#prashu{
	float:right;
	padding-top:0px;
}